<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ninja_jumpatk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,226},{51,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,73}}</string>
				<key>sourceSize</key>
				<string>{51,73}</string>
			</dict>

			<key>Ninja_jumpatk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{79,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,73}}</string>
				<key>sourceSize</key>
				<string>{79,73}</string>
			</dict>

			<key>Ninja_jumpatk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{74,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,77}}</string>
				<key>sourceSize</key>
				<string>{74,77}</string>
			</dict>

			<key>Ninja_jumpatk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,226},{65,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,76}}</string>
				<key>sourceSize</key>
				<string>{65,76}</string>
			</dict>

			<key>Ninja_jumpatk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,303},{62,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,77}}</string>
				<key>sourceSize</key>
				<string>{62,77}</string>
			</dict>

			<key>Ninja_jumpatk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,152},{71,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,73}}</string>
				<key>sourceSize</key>
				<string>{71,73}</string>
			</dict>

			<key>Ninja_jumpatk7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,381},{61,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,74}}</string>
				<key>sourceSize</key>
				<string>{61,74}</string>
			</dict>

			<key>Ninja_subthrow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,152},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,66}}</string>
				<key>sourceSize</key>
				<string>{48,66}</string>
			</dict>

			<key>Ninja_subthrow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,447},{60,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,64}}</string>
				<key>sourceSize</key>
				<string>{60,64}</string>
			</dict>

			<key>Ninja_throw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,0},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>Ninja_throw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,74},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>Ninja_throw3.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,303},{56,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,65}}</string>
				<key>sourceSize</key>
				<string>{56,65}</string>
			</dict>

			<key>Ninja_throw4.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,381},{60,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,65}}</string>
				<key>sourceSize</key>
				<string>{60,65}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,512}</string>
			<key>textureFileName</key>
			<string>NinjaAttacks.png</string>
			</dict>
		</dict>
</plist>