<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ninja_star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>

			<key>Ninja_star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,28},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,25}}</string>
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>

			<key>Ninja_star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,0},{19,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,20}}</string>
				<key>sourceSize</key>
				<string>{19,20}</string>
			</dict>

			<key>Ninja_star4.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,28},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,25}}</string>
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{64,64}</string>
			<key>textureFileName</key>
			<string>NinjaShuriken.png</string>
			</dict>
		</dict>
</plist>