<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ninja_backwardjump1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,57},{52,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,64}}</string>
				<key>sourceSize</key>
				<string>{52,64}</string>
			</dict>

			<key>Ninja_backwardjump2.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,122},{52,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,59}}</string>
				<key>sourceSize</key>
				<string>{52,59}</string>
			</dict>

			<key>Ninja_forwardjump1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,172},{54,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,62}}</string>
				<key>sourceSize</key>
				<string>{54,62}</string>
			</dict>

			<key>Ninja_forwardjump2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{55,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,60}}</string>
				<key>sourceSize</key>
				<string>{55,60}</string>
			</dict>

			<key>Ninja_idle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,0},{42,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,68}}</string>
				<key>sourceSize</key>
				<string>{42,68}</string>
			</dict>

			<key>Ninja_idle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,140},{42,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,68}}</string>
				<key>sourceSize</key>
				<string>{42,68}</string>
			</dict>

			<key>Ninja_idle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,70},{42,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,69}}</string>
				<key>sourceSize</key>
				<string>{42,69}</string>
			</dict>

			<key>Ninja_idle4.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,0},{42,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,69}}</string>
				<key>sourceSize</key>
				<string>{42,69}</string>
			</dict>

			<key>Ninja_jump1.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{37,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,53}}</string>
				<key>sourceSize</key>
				<string>{37,53}</string>
			</dict>

			<key>Ninja_jump2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,70},{37,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,51}}</string>
				<key>sourceSize</key>
				<string>{37,51}</string>
			</dict>

			<key>Ninja_jump3.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,182},{42,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,73}}</string>
				<key>sourceSize</key>
				<string>{42,73}</string>
			</dict>

			<key>Ninja_land1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,0},{37,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,52}}</string>
				<key>sourceSize</key>
				<string>{37,52}</string>
			</dict>

			<key>Ninja_run1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{59,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,56}}</string>
				<key>sourceSize</key>
				<string>{59,56}</string>
			</dict>

			<key>Ninja_run2.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,172},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>

			<key>Ninja_run3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,57},{57,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,53}}</string>
				<key>sourceSize</key>
				<string>{57,53}</string>
			</dict>

			<key>Ninja_walk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,182},{44,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,68}}</string>
				<key>sourceSize</key>
				<string>{44,68}</string>
			</dict>

			<key>Ninja_walk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,69},{42,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,68}}</string>
				<key>sourceSize</key>
				<string>{42,68}</string>
			</dict>

			<key>Ninja_walk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,138},{42,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,68}}</string>
				<key>sourceSize</key>
				<string>{42,68}</string>
			</dict>

			<key>Ninja_walk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,0},{42,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,68}}</string>
				<key>sourceSize</key>
				<string>{42,68}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>NinjaMovement.png</string>
			</dict>
		</dict>
</plist>